/*   body {
    background-color: #db9f13;
    background-image: url(../images/fondo-pacman.jpg); 
  }  */

body {
    margin: 0;
    padding: 0;
    background-image: url('/images/fondo-pacman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    cursor: pointer; /* Añadir un cursor pointer para indicar que se puede hacer clic */
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 10px 0;
}

.header-logo {
    width: 100px;
    height: auto;
    margin: 0 10px;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.fantasmita {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    cursor: pointer; /* Añadir un cursor pointer para indicar que se puede hacer clic */
}

h1, p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}